.fashion-collection {
  position: relative;
  display: flex;
  width: 100vw;
  padding-top: 170px;
  background: #F5F5F5 linear-gradient(to top,
      #837d7d67,
      #f8f1d752);

  aside {
    width: 20%;
  }
  
  &__left {
    display: none;
    height: 100%;
    box-shadow: 4px 0 4px var(--black-color);
    
    &-img1 {
      height: 50%;
      background-image: url('../../utility/images/collection/fashion4.png');
      background-size: 100% 100%;
    }
    
    &-img2 {
      height: 50%;
      background-image: url('../../utility/images/collection/fashion2.png');
      background-size: 100% 100%;
    }
  }
  
  &__right {
    display: none;
    height: 100%;
    box-shadow: -2px 0 4px var(--black-color);
    
    &-img1 {
      height: 50%;
      background-image: url('../../utility/images/collection/fashion3.png');
      background-size: 100% 100%;
    }

    &-img2 {
      height: 50%;
      background-image: url('../../utility/images/collection/fashion1.png');
      background-size: 100% 100%;
    }
  }

  main {
    position: relative;
    width: 100vw;
    z-index: 10;
    
    .category-box {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: fit-content;
      max-height: 70vh;
      margin-top: 2em;
      border-top: none;
      
      &__img {
        display: none;
      }
      
      main {
        flex-grow: 5;
        .container {
          gap: 30px;
          margin-inline: 1em;
          overflow-x: scroll;

          .card{
            scroll-snap-type: mandatory;
          }
        }
      }
    }
  }
  &__info{
    margin-top: 1em;
    margin-bottom: -.5em;
    padding: .5em;
    width: fit-content;
    margin-inline: auto;
    background-color: #fff;
    font-size: 3rem;
    box-shadow: inset 0 0 5px var(--black-color);
  }
}


@media (min-width: 768px) {
  .fashion-collection {
    min-height: calc(100vh - 65px);
    height: fit-content;
    margin-top: 60px;
    padding-top: 0;
    
    &__left {
      display: block;
      height: 100vh;
    }
    
    main {
      width: 80vw;
      height: fit-content;
      
      .category-box {
        height: fit-content;
        main { 
          height: fit-content;
          overflow-y: hidden;
          .container {
            height: fit-content;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .fashion-collection { 
    position: relative;
    transform: scale(1);
    justify-content: center;
    &__left{
      position: sticky;
      top: 0;
      left: 0;
    }
    &__right {
      position: sticky;
      top: 0;
      right: 0;
      height: 100vh;
      display: block;
    } 
    main {
      width: 60vw;
      height: fit-content;
      overflow-x: hidden;
      .category-box {
        main { 
          overflow-y: scroll;
          .container {
            flex-direction: row;
            flex-wrap: wrap;
            overflow-x: hidden;
          }
        }
      }

    }
  }
}
@media (min-width: 1400px) {
  .fashion-collection {
    main {
      .category-box {
        width: 60vw;
        margin: 0;
      }
    }
  }
}

@media (min-width: 1800px) {
  .fashion-collection {
    main {
      .category-box {
        .container {
          margin-inline: 2em;
        }
      }
    }
  }
}