.sale {
  position: relative;
  margin-top: 6em;
  width: 100vw;
  height: 200px;
  background-image: url("../../utility/images/sale/hall-small.jpg");
  background-size: cover;
  line-height: 5em;
  box-shadow: 5px 7px 25px var(--black-color);

  .bg-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 0;
  }

  .half {
    position: absolute;
    top: 0;
    left: 0;
    right: 35%;
    bottom: 0;
    background: var(--third-color) linear-gradient(to top,
        rgba(51, 51, 51, 0.322),
        rgba(51, 51, 51, 0.322) 30%,
        rgba(255, 255, 255, 0.212));
    border-top: 7px solid var(--white-color);
    text-align: center;
    opacity: 0.8;
    z-index: 1;
  }

  &__screen {
    display: none;
  }

  .first-line {
    display: none;
  }

  p {
    border-bottom: 3px solid var(--black-color);
    color: var(--white-color);
    border-bottom: none;
    font-size: 2rem;
    text-transform: capitalize;
    z-index: 2;
  }

  span {
    margin-left: 1em;
    background: var(--black-color);
    color: var(--white-color);
    font-size: 2.2rem;
    text-transform: uppercase;
    z-index: 2;
  }

  .third-line {
    background: transparent;
  }

  .fourth-line {
    background: transparent;
    color: var(--white-color);
    font-size: 6rem;
  }

  img {
    position: absolute;
    right: -50px;
    top: -75px;
    width: 200px;
    height: 275px;
    filter: drop-shadow(1px 1px 20px var(--second-color));
    z-index: 2;
  }
}

.bestseller {
  background-image: url("../../utility/images/sale/bed-small.jpg");
  background-position: bottom;

  .sale__screen {
    display: none;
  }

  img {
    margin-top: 25px;
    height: 250px;
    z-index: 1;
  }

  span {
    filter: drop-shadow(0 0 5px var(--black-color));
  }
}

@media (min-width: 526px) {
  .sale {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 45vh;
    background-image: url("../../utility/images/sale/sale-bg.png");
    background-size: 100vw 60vh;
    overflow: hidden;

    &__screen {
      display: block;
      position: absolute;
      left: 44.5%;
      right: 60px;
      top: 28%;
      bottom: 20%;
      transform: skewY(11deg) skewX(-20deg);
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        right: 40%;
        top: 30%;
        width: 150px;
        height: 111px;
        background-image: url("../../utility/images/sale/cart2.png");
        background-size: cover;
        transition: transform 1s;
        transform: scaleY(0.5) scaleX(1.5) translateX(-200%);
        animation: drive-in 1s 0.5s linear forwards;
        z-index: -1;
      }
    }

    .half {
      position: static;
      margin-top: 3em;
      min-width: 500px;
      padding-left: 3em;
      padding-bottom: 8em;
      background: var(--white-color) linear-gradient(to top,
          rgba(51, 51, 51, 0.322),
          rgba(51, 51, 51, 0.322) 30%,
          rgba(255, 255, 255, 0.212));
      opacity: 0;
      animation: opacity-8 0.5s 1.5s linear forwards;
    }

    img {
      display: none;
    }

    p {
      width: fit-content;
      padding-top: 10%;
      text-align: left;
      border: none;
      font-size: clamp(3rem, 3.5rem, 5rem);
    }

    span {
      margin-left: 0;
    }

    .first-line {
      display: block;
      margin-left: 5%;
      font-size: 3rem;
      opacity: 0.85;
    }

    .second-line {
      margin-left: 1em;
      margin-bottom: 0.5em;
      padding-top: 0.5em;
      background: transparent;
      color: var(--black-color);
      border-bottom: 2px solid var(--black-color);
      font-size: 3.5rem;
      white-space: no-wrap;
    }

    .third-line {
      background: transparent;
      color: var(--black-color);
      font-size: clamp(4rem, 5.5rem, 7rem);
      text-transform: uppercase;
      z-index: 2;
    }

    .fourth-line {
      display: block;
      padding-top: 0.25em;
      background: transparent;
      color: var(--black-color);
      font-size: clamp(6rem, 10rem, 12rem);
    }
  }

  .bestseller {
    background-image: url("../../utility/images/sale/bestseller2.jpg");
    background-position: center;
    padding-top: 5em;

    img {
      display: none;
    }

    .half {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 4em;
      border: none;
      border-radius: 2em;
      background-color: var(--black-color);
    }

    .first-line {
      margin-top: -1em;
    }

    .second-line {
      background: transparent;
      color: var(--white-color);
      border-bottom: 2px solid var(--white-color);
      font-size: 4rem;
    }

    .third-line {
      padding-top: 0.5em;
      background: transparent;
      color: var(--white-color);
      white-space: no-wrap;
      animation: flicker-in-2 2s 0.5s linear both;
      filter: drop-shadow(0 0 5px var(--white-color));
    }

    .fourth-line {
      background: transparent;
      color: var(--white-color);
      font-size: clamp(6rem, 10rem, 12rem);
      animation: flicker-in-2 2s 0.5s linear both;
      filter: drop-shadow(0 0 5px var(--white-color));
    }
  }
}

@media (min-width: 992px) {
  .sale {
    height: 50vh;

    &__screen {
      left: 44%;
      transform: skewY(12deg) skewX(-21deg);
    }
  }

  .bestseller {
    padding-top: 0;

    .half {
      width: 60%;
    }

    .third-line {
      font-size: 7rem;
    }
  }
}
@media (min-width: 1200px) {
  .sale {
    height: 50vh;

    &__screen {
      left: 44%;
      transform: skewY(10deg) skewX(-25deg);
    }
  }
}

@media (min-width: 1400px) {
  .sale {
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0 auto;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    overflow: hidden;

    .half {
      margin-top: 0;
      width: 50%;
      margin-left: 10%;
    }

    &__screen {
      left: 45.5%;
      right: 180px;
      top: 20%;
      bottom: 40%;
      transform: skewY(6deg) skewX(-32deg);

      &::after{
        transform: scaleY(0.5) scaleX(1.5) translateX(-300%);
      }
    }

    .fourth-line {
      font-size: 12rem;
      margin-bottom: 1em;
    }
  }
}

@media (min-width: 1800px) {
  .sale {
    height: 50vh;

    &__screen {
      left: 45.5%;
      transform: skewY(5deg) skewX(-35deg);
    }
  }
}

.bestseller {
  .first-line {
    margin-top: -2em;
  }
}

@keyframes opacity-8 {
  to {
    opacity: 0.8;
  }
}

@keyframes drive-in {
  70% {
    transform: scaleY(1.4) scaleX(0.5);
  }

  100% {
    transform: none;
  }
}

@keyframes flicker-in-2 {
  0% {
    opacity: 0;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  10% {
    opacity: 0;
    filter: none;
  }

  10.1% {
    opacity: 1;
    filter: none;
  }

  10.2% {
    opacity: 0;
    filter: none;
  }

  20% {
    opacity: 0;
    filter: none;
  }

  20.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  20.6% {
    opacity: 0;
    filter: none;
  }

  30% {
    opacity: 0;
    filter: none;
  }

  30.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  30.5% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  30.6% {
    opacity: 0;

    filter: none;
  }

  45% {
    opacity: 0;

    filter: none;
  }

  45.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  50% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  55% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  55.1% {
    opacity: 0;
    filter: none;
  }

  57% {
    opacity: 0;

    filter: none;
  }

  57.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  60% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  60.1% {
    opacity: 0;
    filter: none;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  75% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  75.1% {
    opacity: 0;
    filter: none;
  }

  77% {
    opacity: 0;
    filter: none;
  }

  77.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  85% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  85.1% {
    opacity: 0;

    filter: none;
  }

  86% {
    opacity: 0;

    filter: none;
  }

  86.1% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }

  100% {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
  }
}