.main-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: calc(100vh - 100px);
  transition: filter 0.5s;

  .start-link {
    position: absolute;
    bottom: 25%;
    padding: .5em 2em;
    background: var(--fourth-color)
    linear-gradient(
      to top,
      rgba(51, 51, 51, 0.3),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: .5em;
    color: var(--white-color);
    font-size: 3rem;
    text-decoration: none;
    box-shadow: 0 0 10px var(--black-color);
  }
}

.bg-effect {
  position: absolute;
  top: 70%;
  left: -20%;
  right: -20%;
  bottom: -40%;
  background-color: var(--second-color);
  border-radius: 50%;
  filter: drop-shadow(0 -60px 30px var(--second-color));
  z-index: -1;
}


