.header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 526px) {
    .header {
        width: 100vw;
        height: fit-content;
        background: rgba(51, 51, 51, 0.95)
        linear-gradient(
            to top,
            rgba(51, 51, 51, 0.3),
            rgba(255, 255, 255, 0.3)
        );
        box-shadow: 0 5px 10px var(--black-color);
    }
}

// @media (min-width: 1400px) {
//     .header {
//       width: 78vw;
//       margin-left: 10vw;
//     }
//   }