* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #f1f4c6;
  --second-color: #d6d0b8;
  --third-color: #aaa6a4;
  --fourth-color: #837d7d;
  --black-color: #333;
  --white-color: whitesmoke;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.336);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

.opacity-0 {
  opacity: 0;
}

.z-index-1 {
  z-index: -1;
}

.d-none {
  display: none;
}

.transform{
  transform: scale(1) !important;
}

.transform-100 {
  transform: translateY(-100%);
}

@keyframes shake-it {
  0% {
    transform: rotate(0) scale(1);
  }

  25% {
    transform: rotate(10deg) scale(1.2);
  }

  50% {
    transform: rotate(-15deg) scale(.9);
  }

  75% {
    transform: rotate(10deg) scale(1.1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }

}


@media (min-width: 992px) {
  ::-webkit-scrollbar {
    height: 7px;
  }
}